:root {
    --cellSize: 35.5px;
    --cellSizeNegative: -35.5px;
}

body {
    background-attachment: initial;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    
    zoom: 101.5%;
}

/* body::-webkit-scrollbar {
    display: none;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.container {
    position: relative;
}