/* Анимации игрока */
@keyframes MovementFront {
    0% {
        margin-left: var(--cellSizeNegative);
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes MovementBehind {
    0% {
        margin-left: var(--cellSize);
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes MovementUp {
    0% {
        padding-top: var(--cellSize);
    }

    100% {
        padding-top: 0px;
    }
}

@keyframes MovementDown {
    0% {
        margin-top: var(--cellSizeNegative);
    }

    100% {
        margin-top: 0px;
    }
}

/* Дыхание */
.anim {
    animation: Breath 2s infinite;
}

@keyframes Breath {
    0% {    
        padding-top: 1.5px;
        transform: scale(0.98, 0.96);
    }

    50% {
        padding-top: 0px;
        transform: scale(1, 1);
    }

    100% {    
        padding-top: 1.5px;
        transform: scale(0.98, 0.96);
    }
}

/* Инвентари */

.player1Invrntory, 
.player2Invrntory {
    position: fixed;
    left: 70px;
    bottom: 95px;
    width: 120px;
    height: 120px;

    border: solid 2px rgb(76, 76, 76);
}

.player2Invrntory {
    left: auto;
    right: 95px;
}

.inventoryFrame {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.659);
    padding: 10px;
    border: solid 2px rgb(123, 123, 123);
}

#player1satiety,
#player1health,
#player2satiety,
#player2health {
    position: fixed;
    display: flex;
    left: 200px;
    bottom: 150px;
    width: 370px;
}

#player1satiety img,
#player1health img,
#player2satiety img,
#player2health img {
    margin: 0 4px;
}

#player1health,
#player2health {
    bottom: 105px;
}

#player2satiety,
#player2health {
    justify-content: right;
    left: auto;
    right: 255px;
}